*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./tools/imgs/download\ \(3\).jfif);
    background-repeat: no-repeat;
    background-position: top;
}

#calculator{
    margin-top: 5vh;
    width: 300px;
    height: 350px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.348);
    border-radius: 10px;
    display: grid; 
    grid-template-rows: 200px , 1fr;
}

.display-div{
    height: 50px;
    grid-row: 1/1;
}

.display-div input{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.534);
    border: none;
    color: white;
    letter-spacing: 2px;
    font-size: 2em;
    padding: 10px;
}

#keys{
    margin-bottom: -10px;
    grid-row: 2/2;
    height: 270px;
    background-color: rgba(255, 191, 0, 0.644);
    border-radius: 10px;
    padding: 10px;
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(4,1fr);
}

button{
    border: 1px solid rgb(0, 0, 0);
    font-size: 2em;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.36);
    color: black;
    cursor: pointer;
    transition: 0.5s;
}

button:hover{
    background-color:black;
    color: white;
}